[global_config]
  sticky = True
[keybindings]
[layouts]
  [[default]]
    [[[child1]]]
      parent = window0
      profile = default
      type = Terminal
    [[[window0]]]
      parent = ""
      size = 1600, 800
      type = Window
[profiles]
  [[default]]
    background_image = None
    scrollback_infinite = True
    font = Mono 14
    use_system_font = False
