[global_config]
  sticky = True
  inactive_color_offset = 1.0
[keybindings]
[profiles]
  [[default]]
    background_color = "#272822"
    background_image = None
    font = Hack Nerd Font Propo 14
    foreground_color = "#d0d0d0"
    show_titlebar = False
    scrollback_infinite = True
    palette = "#272822:#d0d0d0:#66aa11:#c47f2c:#1c71d8:#9141ac:#3579a8:#9999aa:#303030:#ff0090:#80ff00:#ffba68:#1a5fb4:#bb88dd:#4eb4fa:#ffffff"
    use_system_font = False
  [[solarized-dark]]
    background_color = "#002b36"
    font = Hack Nerd Font Propo 14
    foreground_color = "#eee8d5"
    show_titlebar = False
    scrollback_infinite = True
    palette = "#073642:#dc322f:#859900:#b58900:#268bd2:#d33682:#2aa198:#eee8d5:#586e75:#cb4b16:#586e75:#657b83:#839496:#6c71c4:#93a1a1:#fdf6e3"
    use_system_font = False
  [[solarized-light]]
    background_color = "#eee8d5"
    font = Hack Nerd Font Propo 14
    foreground_color = "#002b36"
    show_titlebar = False
    scrollback_infinite = True
    palette = "#073642:#dc322f:#859900:#b58900:#268bd2:#d33682:#2aa198:#eee8d5:#002b36:#cb4b16:#586e75:#657b83:#839496:#6c71c4:#93a1a1:#fdf6e3"
    use_system_font = False
[layouts]
  [[default]]
    [[[child1]]]
      parent = window0
      profile = solarized-dark
      type = Terminal
    [[[window0]]]
      parent = ""
      size = 1600, 800
      type = Window
[plugins]
