[global_config]
  sticky = True
  title_transmit_fg_color = "#d0d0d0"
  title_transmit_bg_color = "#272822"
  title_inactive_fg_color = "#d0d0d0"
  title_inactive_bg_color = "#303030"
[keybindings]
[layouts]
  [[default]]
    [[[child1]]]
      parent = window0
      profile = default
      type = Terminal
    [[[window0]]]
      parent = ""
      size = 1600, 800
      type = Window
[profiles]
  [[default]]
    background_image = None
    scrollback_infinite = True
    font = Mono 12
    use_system_font = False
    palette = "#272822:#d0d0d0:#66aa11:#c47f2c:#30309b:#7e40a5:#3579a8:#9999aa:#303030:#ff0090:#80ff00:#ffba68:#5f5fee:#bb88dd:#4eb4fa:#ffffff"
    foreground_color = "#d0d0d0"
    background_color = "#272822"
    cursor_color = "#d0d0d0"
